.wrapper-member-info
  .personal-entry
    .signup-page-header
      %header.personal-entry__header
        = link_to "#" do
          = image_tag "//www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?1204800476", class: "mercarilogo"
      %nav.progress-bar
        %ol.clearfix
          %li.through
            会員情報
            .progress-status
          %li.active
            電話番号認証 
            .progress-status
          %li
            お届け先住所入力
            .progress-status
          %li
            支払い方法
            .progress-status
          %li
            完了
            .progress-status
    .info-main
      .info-content
        %h2.info-content__head 電話番号の確認
        %form.info-inner.registration-form{action: "https://www.mercari.com/jp/signup/sms_confirmation/?after_save_callback=https://www.mercari.com/jp/", method: "POST", novalidate: "novalidate"}
          %input{name: "__csrf_value", type: "hidden", value: "49797f1edd453785d17eb5a55fe5422b5e627796081122f82ba85bd3526dded666f73ab52a625534f629d0b36498dace9e72a8b05374f8cdc1d84fcd5840fc8cf"}/
          .main-content
            .form-group
              %label{for: "nickname"} 携帯電話の番号
              %input.input-default{name: "nickname", placeholder: "携帯電話の番号を入力", type: "text", value: ""}/
              %p.verification-text
                本人確認のため、携帯電話のSMS(ショートメッセージサービス)を利用して認証を行います。
            = link_to memberaddfress_registers_path, class: "kasen" do
              %button.btn-default.btn-red{type: "submit"} SMSを送信する
            %p.verification-text
              ※電話番号は本人確認や不正利用防止のために利用します。他のユーザーに公開されることはありません。
            .form-group.text-right
              %p
                = link_to "#" do
                  電話番号の確認が必要な理由
                  = fa_icon 'angle-right', class: 'angle-right'
                  