.wapper
  .registration-main
    .main-content
      %h2.main-content__head 新規会員登録
      .inner-content
        .l-main-content
          = link_to memberinfo_registers_path, class: 'btn-default btn-mail' do
            = fa_icon "envelope", class: "icon-mail"
            メールアドレスで登録
            
          %button#facebook-login.btn-default.btn-sns.btn-sns-facebook
            = link_to "Facebookで登録",user_facebook_omniauth_authorize_path,  class: 'facebook-btn'
            = fa_icon "facebook-square", class: "icon-sns"

          %button#google-login.btn-default.btn-sns.btn-sns-google
            = link_to "Googleで登録",user_google_oauth2_omniauth_authorize_path,  class: 'google-btn'
            = image_tag "google.png" ,  height:25 , class: "icon-sns"

    %form#login_form_facebook{action: "/jp/signup/facebook/", method: "POST", novalidate: "novalidate"}
      %input{name: "__csrf_value", type: "hidden", value: "49797f1edd453785d17eb5a55fe5422b5e627796081122f82ba85bd3526dded666f73ab52a625534f629d0b36498dace9e72a8b05374f8cdc1d84fcd5840fc8cf"}/
      %input{name: "nickname", type: "hidden", value: ""}/
      %input{name: "email", type: "hidden", value: ""}/
      %input{name: "facebook_user_id", type: "hidden", value: ""}/
      %input{name: "facebook_access_token", type: "hidden", value: ""}/
      %input{name: "login_type", type: "hidden", value: "facebook"}/
    %form#login_form_google{action: "/jp/signup/google/", method: "POST", novalidate: "novalidate"}
      %input{name: "__csrf_value", type: "hidden", value: "49797f1edd453785d17eb5a55fe5422b5e627796081122f82ba85bd3526dded666f73ab52a625534f629d0b36498dace9e72a8b05374f8cdc1d84fcd5840fc8cf"}/
      %input{name: "nickname", type: "hidden", value: ""}/
      %input{name: "email", type: "hidden", value: ""}/
      %input{name: "google_user_id", type: "hidden", value: ""}/
      %input{name: "google_access_token", type: "hidden", value: ""}/
      %input{name: "login_type", type: "hidden", value: "google"}/
    %input#google_client_id{type: "hidden", value: "238694260676-l0gp5j3hs9p8l2hjmnt126q0b4iin34r.apps.googleusercontent.com"}/
    %input#facebook_app_id{type: "hidden", value: "466308336793848"}/
