= render 'products/top-page/toppage-header'
.wrapper
  = render 'products/mypage/mypage-header/index-header'
  .margin
    = render 'products/mypage/side-bar'
    = render 'products/mypage/mypage'
= render 'products/top-page/toppage-footer'