= render 'products/top-page/toppage-header'
.wrapper
  = render 'products/mypage/mypage-header'
  .margin
    = render 'products/mypage/side-bar'
    = render 'products/mypage/profile'
= render 'products/top-page/toppage-footer'