.wrapper2
  .item-detail-container
  .item-detail-confirmation
    .item-detail-confirmation-name
      = @product.name
    .item-detail-confirmation-content
      .item-detail-confirmation-content-photo
        = image_tag @product.images.first , class: "photo"
        - if @product.buyer_id > 0
          .product--soldout-badge
            .product--soldout
        .item-detail-confirmation-content-photos
          = image_tag @product.images.first , class: "photos"
          = image_tag @product.images.second , class: "photos"
          = image_tag @product.images.third , class: "photos"
          = image_tag @product.images.fourth , class: "photos"
          = image_tag @product.images.fifth , class: "photos" 
      %table
        %tbody
          %tr
            %th 出品者
            %td
              = link_to '#' do
                = @saler.nickname
              .rate-icons
                = fa_icon "fas", class: "fa-smile-o"
                %span 100
                = fa_icon "fas", class: "fa-meh-o"
                %span 100
                = fa_icon "fas", class: "fa-frown-o"
                %span 100
          %tr
            %th カテゴリー
            %td
              = link_to '#' do
                レディース
              %br 
              = link_to '#' do
                = fa_icon "fas", class: "fa-chevron-right"
                バッグ
              %br 
              = link_to '#' do
                = fa_icon "fas", class: "fa-chevron-right"
                ショルダーバック
          %tr
            %th ブランド
            %td
              = link_to '#' do
                コーチ
          %tr
            %th 商品の状態
            %td
              = @item_status.name
          %tr
            %th 配送料の負担	
            %td
              = @product.shipping_charges
          %tr
            %th 配送の方法
            %td らくらくメルカリ便
          %tr
            %th 配送元地域
            %td
              = link_to '#' do
                = @prefecture.name
          %tr
            %th 発送日の目安
            %td
              = @product.days_to_ship
    .item-detail-confirmation-price_box
      .item-detail-confirmation-price_box-price
        ¥
        = converting_to_jpy(@product.price)
      .item-detail-confirmation-price_box-tax
        (税込)
      .item-detail-confirmation-price_box-shipping
        送料込み

    - if @product.buyer_id == 0
      = link_to purchase_path do
        .item-detail-confirmation-buy_btn
          購入画面に進む
    - else
      .item-detail-confirmation-sold_btn
        売り切れました
    .item-detail-confirmation-description
      %p
        = @product.text
    .item-detail-confirmation-buttom
      = link_to '#' do
        .item-detail-confirmation-buttom-like
          = fa_icon "far", class: "fa-heart" 
          いいね! 0
      = link_to '#' do
        .item-detail-confirmation-buttom-report
          = fa_icon "far", class: "fa-flag"
          不適切な商品報告
      = link_to '#' do
        .item-detail-confirmation-buttom-approach
          = fa_icon "fas", class: "fa-lock"
          あんしん・あんぜんへの取り組み
  .item-comment
    .item-comment-container
    .item-comment-content
      .item-comment-content-inner
        %p
          相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
      %textarea
      = link_to '#' do
        .item-comment-btn
          コメントする
  %ul.item-link
    %li.prev
      = link_to '#' do
        = fa_icon "fas", class: "fa-chevron-left"
        アルマーニエクスチェンジ
    %li.next
      = link_to '#' do
        littletalks様送料
        = fa_icon "fas", class: "fa-chevron-right"
  .item-sns-box
    %ul.sns-box
      %li.facebook
        = link_to '#' do
          = fa_icon "fas", class: "fa-facebook-square"
      %li.twitter
        = link_to '#' do
          = fa_icon "fas", class: "fa-twitter-square"
      %li.pinterest
        = link_to '#' do
          = fa_icon "fas", class: "fa-pinterest-square"
    %p.delete-btn
      = link_to  product_path(@product), class: "gray-delete", method: :delete do
        この商品を削除する
      
  %h2
    = link_to '#' do
      Siaさんのその他の出品
  %section.item-_other_box
    .other_items
      = link_to '#' do
        .other_item
          .other_item-img
            = image_tag("https://static.mercdn.net/thumb/photos/m58136755934_1.jpg?1559516733", class: "other-photos")
          .other_item-description
            %h3.ohter_item_name
              デニム サロペット オーバーオール
            .other_item_num
              .other_item_price
                ¥ 2,500
              .other_item_font
                = fa_icon "fas", class: "fa-heart-o"
                2
            %p.other_item-tax
              (税込)          
      .other_item
        .other_item-img
          = image_tag("https://static.mercdn.net/thumb/photos/m31394071559_1.jpg?1557612331", class: "other-photos")
        .other_item-description
          %h3.ohter_item_name
            くまのプーさんぬいぐるみ
          .other_item_num
            .other_item_price
              ¥ 2,500
            .other_item_font
              = fa_icon "fas", class: "fa-heart-o"
              2
          %p.other_item-tax
            (税込)
      .other_item
        .other_item-img
          = image_tag("https://static.mercdn.net/thumb/photos/m99547753049_1.jpg?1557554636", class: "other-photos")
        .other_item-description
          %h3.ohter_item_name
            ミッキー ミニー ぬいぐるみバッジ
          .other_item_num
            .other_item_price
              ¥ 2,500
            .other_item_font
              = fa_icon "fas", class: "fa-heart-o"
              2
          %p.other_item-tax
            (税込)
  %section.item-_other_box
    .other_items
      .other_item
        .other_item-img
          = image_tag("https://static.mercdn.net/thumb/photos/m70101439872_1.jpg?1559450567", class: "other-photos")
        .other_item-description
          %h3.ohter_item_name
            美女と野獣 メガネケース
          .other_item_num
            .other_item_price
              ¥ 2,500
            .other_item_font
              = fa_icon "fas", class: "fa-heart-o"
              2
          %p.other_item-tax
            (税込)
      .other_item
        .other_item-img
          = image_tag("https://static.mercdn.net/thumb/photos/m52822702747_1.jpg?1559449875", class: "other-photos")
        .other_item-description
          %h3.ohter_item_name
            ディズニー ミニー メガネクロス
          .other_item_num
            .other_item_price
              ¥ 2,500
            .other_item_font
              = fa_icon "fas", class: "fa-heart-o"
              2
          %p.other_item-tax
            (税込)
      .other_item
        .other_item-img
          = image_tag("https://static.mercdn.net/thumb/photos/m77264637164_1.jpg?1559446760", class: "other-photos")
        .other_item-description
          %h3.ohter_item_name
            ミッキー ミニー ぬいぐるみ
          .other_item_num
            .other_item_price
              ¥ 2,500
            .other_item_font
              = fa_icon "fas", class: "fa-heart-o"
              2
          %p.other_item-tax
            (税込)
  %h2.item-second-name
    = link_to '#' do
      コーチ ショルダーバッグ その他の出品
  %section.item-_other_box
    .other_items
      = link_to '#' do
        .other_item
          .other_item-img
            = image_tag("https://static.mercdn.net/thumb/photos/m58136755934_1.jpg?1559516733", class: "other-photos")
          .other_item-description
            %h3.ohter_item_name
              デニム サロペット オーバーオール
            .other_item_num
              .other_item_price
                ¥ 2,500
              .other_item_font
                = fa_icon "fas", class: "fa-heart-o"
                2
            %p.other_item-tax
              (税込)          
      .other_item
        .other_item-img
          = image_tag("https://static.mercdn.net/thumb/photos/m31394071559_1.jpg?1557612331", class: "other-photos")
        .other_item-description
          %h3.ohter_item_name
            くまのプーさんぬいぐるみ
          .other_item_num
            .other_item_price
              ¥ 2,500
            .other_item_font
              = fa_icon "fas", class: "fa-heart-o"
              2
          %p.other_item-tax
            (税込)
      .other_item
        .other_item-img
          = image_tag("https://static.mercdn.net/thumb/photos/m99547753049_1.jpg?1557554636", class: "other-photos")
        .other_item-description
          %h3.ohter_item_name
            ミッキー ミニー ぬいぐるみバッジ
          .other_item_num
            .other_item_price
              ¥ 2,500
            .other_item_font
              = fa_icon "fas", class: "fa-heart-o"
              2
          %p.other_item-tax
            (税込)
  %section.item-_other_box
    .other_items
      .other_item
        .other_item-img
          = image_tag("https://static.mercdn.net/thumb/photos/m70101439872_1.jpg?1559450567", class: "other-photos")
        .other_item-description
          %h3.ohter_item_name
            美女と野獣 メガネケース
          .other_item_num
            .other_item_price
              ¥ 2,500
            .other_item_font
              = fa_icon "fas", class: "fa-heart-o"
              2
          %p.other_item-tax
            (税込)
      .other_item
        .other_item-img
          = image_tag("https://static.mercdn.net/thumb/photos/m52822702747_1.jpg?1559449875", class: "other-photos")
        .other_item-description
          %h3.ohter_item_name
            ディズニー ミニー メガネクロス
          .other_item_num
            .other_item_price
              ¥ 2,500
            .other_item_font
              = fa_icon "fas", class: "fa-heart-o"
              2
          %p.other_item-tax
            (税込)
      .other_item
        .other_item-img
          = image_tag("https://static.mercdn.net/thumb/photos/m77264637164_1.jpg?1559446760", class: "other-photos")
        .other_item-description
          %h3.ohter_item_name
            ミッキー ミニー ぬいぐるみ
          .other_item_num
            .other_item_price
              ¥ 2,500
            .other_item_font
              = fa_icon "fas", class: "fa-heart-o"
              2
          %p.other_item-tax
            (税込)
            