= render 'products/member-registration/header'
.purchasing-top
  %header.single--header
  .single-main__container
    %h2.single-main__container__head 購入内容の確認
    .purchase-content
      .purchase-content__inner
        %h3.purchase-content__inner--image
          = image_tag @product.images.first , class: "photo", height: "148", width: "112"
          -# {alt: "", "data-src": "m74984987358_1", height: "148", width: "112"}/
        %p.purchase-content__inner--name ２つ折り財布
        .buy-form
          %p.purchase-content__inner--price 
            ¥
            = converting_to_jpy(@product.price)
            %span.purchase-content__inner--shippingfee 送料込み
          %ul.accordion
            .accordion__toggle
              ポイントはありません
          .buy-price-table
            .buy-price-table__row
              .buy-price-table__row--text 支払い金額
              .buy-price-table__row--cell
                ¥
                = converting_to_jpy(@product.price)
          = form_with url: pay_purchase_path, method: :post, local: true  do |f|
            = f.submit "購入する", class:"purchasing-btn",data: { confirm: "本当に購入しますか？" }

    %section.userinfo-content
      .userinfo-content__inner
        %h3 配送先
        %address.userinfo-content__inner--text
          〒556-0026
          %br/
          大阪府 大阪市浪速区浪速西
          2-12-16
          %br/
          城戸 隆文
        %a.userinfo-content__inner--userinfofix{href: "/"}
          .userinfo-content--btn
            = link_to root_path do
              %span 変更する
              %i.fa.fa-chevron-right
    %section.userinfo-content
      .userinfo-content__inner
        %h3 支払い方法
        %p.userinfo-content__inner--text
          = "**** **** ****" + @default_card_information.last4
          %br/
          - exp_month = @default_card_information.exp_month.to_s
          - exp_year = @default_card_information.exp_year.to_s.slice(2,3)
          = exp_month + " / " + exp_year
          .userinfo-content--figure
            = image_tag "visa.svg", height: "20", width: "26"
        %a.userinfo-content__inner--userinfofix
          .userinfo-content--btn
            = link_to root_path do
              %span 変更する
              %i.fa.fa-chevron-right
  %footer.single-footer

= render 'products/member-registration/footer'