%main
  .mein-contents
    .pickup-container
      %h2.pickup-head ピックアップカテゴリー
      .item-box-container
        %h3.text-center
          = link_to '#', class: 'text-center__item' do
            レディース 新着アイテム
        .item-box-content
          %section.item-box
            = link_to '/items/:id' do
              %figure.item-box__photo
                = image_tag 'https://static.mercdn.net/thumb/photos/m92090047024_1.jpg?1559187466', class:'lazyloaded', alt: '商品名', width: '213', hright: '330'
            .item-box__body
              %h3.item-box__name マジェスティックレゴン チェックパール付ハイネックブラウス
              .item-box__info
                %h5.item-box__price ¥ 3,100
                %h8.likes-icon= fa_icon 'heart'
                %h8.likes-count 28
                %h5.item-box__tax (税込)
          %section.item-box
            = link_to '#' do
              %figure.item-box__photo
                = image_tag 'https://static.mercdn.net/thumb/photos/m92090047024_1.jpg?1559187466', class:'lazyloaded', alt: '商品名', width: '213', hright: '330'
            .item-box__body
              %h3.item-box__name マジェスティックレゴン チェックパール付ハイネックブラウス
              .item-box__info
                %h5.item-box__price ¥ 3,100
                %h8.likes-icon= fa_icon 'heart'
                %h8.likes-count 28
                %h5.item-box__tax (税込)
          %section.item-box
            = link_to '#' do
              %figure.item-box__photo
                = image_tag 'https://static.mercdn.net/thumb/photos/m92090047024_1.jpg?1559187466', class:'lazyloaded', alt: '商品名', width: '213', hright: '330'
            .item-box__body
              %h3.item-box__name マジェスティックレゴン チェックパール付ハイネックブラウス
              .item-box__info
                %h5.item-box__price ¥ 3,100
                %h8.likes-icon= fa_icon 'heart'
                %h8.likes-count 28
                %h5.item-box__tax (税込)
          %section.item-box
            = link_to '#' do
              %figure.item-box__photo
                = image_tag 'https://static.mercdn.net/thumb/photos/m92090047024_1.jpg?1559187466', class:'lazyloaded', alt: '商品名', width: '213', hright: '330'
            .item-box__body
              %h3.item-box__name マジェスティックレゴン チェックパール付ハイネックブラウス
              .item-box__info
                %h5.item-box__price ¥ 3,100
                %h8.likes-icon= fa_icon 'heart'
                %h8.likes-count 28
                %h5.item-box__tax (税込)
        .view-all
          %span.view-all-index すべての商品を見る
      .item-box-container
        %h3.text-center
          = link_to '#', class: 'text-center__item' do
            メンズ 新着アイテム
        .item-box-content
          %section.item-box
            = link_to '#' do
              %figure.item-box__photo
                = image_tag 'https://static.mercdn.net/thumb/photos/m92090047024_1.jpg?1559187466', class:'lazyloaded', alt: '商品名', width: '213', hright: '330'
            .item-box__body
              %h3.item-box__name マジェスティックレゴン チェックパール付ハイネックブラウス
              .item-box__info
                %h5.item-box__price ¥ 3,100
                %h8.likes-icon= fa_icon 'heart'
                %h8.likes-count 28
                %h5.item-box__tax (税込)
          %section.item-box
            = link_to '#' do
              %figure.item-box__photo
                = image_tag 'https://static.mercdn.net/thumb/photos/m92090047024_1.jpg?1559187466', class:'lazyloaded', alt: '商品名', width: '213', hright: '330'
            .item-box__body
              %h3.item-box__name マジェスティックレゴン チェックパール付ハイネックブラウス
              .item-box__info
                %h5.item-box__price ¥ 3,100
                %h8.likes-icon= fa_icon 'heart'
                %h8.likes-count 28
                %h5.item-box__tax (税込)
          %section.item-box
            = link_to '#' do
              %figure.item-box__photo
                = image_tag 'https://static.mercdn.net/thumb/photos/m92090047024_1.jpg?1559187466', class:'lazyloaded', alt: '商品名', width: '213', hright: '330'
            .item-box__body
              %h3.item-box__name マジェスティックレゴン チェックパール付ハイネックブラウス
              .item-box__info
                %h5.item-box__price ¥ 3,100
                %h8.likes-icon= fa_icon 'heart'
                %h8.likes-count 28
                %h5.item-box__tax (税込)
          %section.item-box
            = link_to '#' do
              %figure.item-box__photo
                = image_tag 'https://static.mercdn.net/thumb/photos/m92090047024_1.jpg?1559187466', class:'lazyloaded', alt: '商品名', width: '213', hright: '330'
            .item-box__body
              %h3.item-box__name マジェスティックレゴン チェックパール付ハイネックブラウス
              .item-box__info
                %h5.item-box__price ¥ 3,100
                %h8.likes-icon= fa_icon 'heart'
                %h8.likes-count 28
                %h5.item-box__tax (税込)
        .view-all
          %span.view-all-index すべての商品を見る

      .item-box-container
        %h3.text-center
          = link_to '#', class: 'text-center__item' do
            ベビー・キッズ 新着アイテム
        .item-box-content
          %section.item-box
            = link_to '#' do
              %figure.item-box__photo
                = image_tag 'https://static.mercdn.net/thumb/photos/m92090047024_1.jpg?1559187466', class:'lazyloaded', alt: '商品名', width: '213', hright: '330'
            .item-box__body
              %h3.item-box__name マジェスティックレゴン チェックパール付ハイネックブラウス
              .item-box__info
                %h5.item-box__price ¥ 3,100
                %h8.likes-icon= fa_icon 'heart'
                %h8.likes-count 28
                %h5.item-box__tax (税込)
          %section.item-box
            = link_to '#' do
              %figure.item-box__photo
                = image_tag 'https://static.mercdn.net/thumb/photos/m92090047024_1.jpg?1559187466', class:'lazyloaded', alt: '商品名', width: '213', hright: '330'
            .item-box__body
              %h3.item-box__name マジェスティックレゴン チェックパール付ハイネックブラウス
              .item-box__info
                %h5.item-box__price ¥ 3,100
                %h8.likes-icon= fa_icon 'heart'
                %h8.likes-count 28
                %h5.item-box__tax (税込)
          %section.item-box
            = link_to '#' do
              %figure.item-box__photo
                = image_tag 'https://static.mercdn.net/thumb/photos/m92090047024_1.jpg?1559187466', class:'lazyloaded', alt: '商品名', width: '213', hright: '330'
            .item-box__body
              %h3.item-box__name マジェスティックレゴン チェックパール付ハイネックブラウス
              .item-box__info
                %h5.item-box__price ¥ 3,100
                %h8.likes-icon= fa_icon 'heart'
                %h8.likes-count 28
                %h5.item-box__tax (税込)
          %section.item-box
            = link_to '#' do
              %figure.item-box__photo
                = image_tag 'https://static.mercdn.net/thumb/photos/m92090047024_1.jpg?1559187466', class:'lazyloaded', alt: '商品名', width: '213', hright: '330'
            .item-box__body
              %h3.item-box__name マジェスティックレゴン チェックパール付ハイネックブラウス
              .item-box__info
                %h5.item-box__price ¥ 3,100
                %h8.likes-icon= fa_icon 'heart'
                %h8.likes-count 28
                %h5.item-box__tax (税込)
        .view-all
          %span.view-all-index すべての商品を見る 

      .item-box-container
        %h3.text-center
          = link_to '#', class: 'text-center__item' do
            コスメ・香水・美容 新着アイテム
        .item-box-content
          %section.item-box
            = link_to '#' do
              %figure.item-box__photo
                = image_tag 'https://static.mercdn.net/thumb/photos/m92090047024_1.jpg?1559187466', class:'lazyloaded', alt: '商品名', width: '213', hright: '330'
            .item-box__body
              %h3.item-box__name マジェスティックレゴン チェックパール付ハイネックブラウス
              .item-box__info
                %h5.item-box__price ¥ 3,100
                %h8.likes-icon= fa_icon 'heart'
                %h8.likes-count 28
                %h5.item-box__tax (税込)
          %section.item-box
            = link_to '#' do
              %figure.item-box__photo
                = image_tag 'https://static.mercdn.net/thumb/photos/m92090047024_1.jpg?1559187466', class:'lazyloaded', alt: '商品名', width: '213', hright: '330'
            .item-box__body
              %h3.item-box__name マジェスティックレゴン チェックパール付ハイネックブラウス
              .item-box__info
                %h5.item-box__price ¥ 3,100
                %h8.likes-icon= fa_icon 'heart'
                %h8.likes-count 28
                %h5.item-box__tax (税込)
          %section.item-box
            = link_to '#' do
              %figure.item-box__photo
                = image_tag 'https://static.mercdn.net/thumb/photos/m92090047024_1.jpg?1559187466', class:'lazyloaded', alt: '商品名', width: '213', hright: '330'
            .item-box__body
              %h3.item-box__name マジェスティックレゴン チェックパール付ハイネックブラウス
              .item-box__info
                %h5.item-box__price ¥ 3,100
                %h8.likes-icon= fa_icon 'heart'
                %h8.likes-count 28
                %h5.item-box__tax (税込)
          %section.item-box
            = link_to '#' do
              %figure.item-box__photo
                = image_tag 'https://static.mercdn.net/thumb/photos/m92090047024_1.jpg?1559187466', class:'lazyloaded', alt: '商品名', width: '213', hright: '330'
            .item-box__body
              %h3.item-box__name マジェスティックレゴン チェックパール付ハイネックブラウス
              .item-box__info
                %h5.item-box__price ¥ 3,100
                %h8.likes-icon= fa_icon 'heart'
                %h8.likes-count 28
                %h5.item-box__tax (税込)
        .view-all
          %span.view-all-index すべての商品を見る
 
      .pickup-container2
        %h2.pickup-head ピックアップブランド
      .item-box-container
        %h3.text-center
          = link_to '/', class: 'text-center__item' do
            シャネル 新着アイテム
        .item-box-content
          %section.item-box
            = link_to '/' do
              %figure.item-box__photo
                = image_tag 'https://static.mercdn.net/thumb/photos/m92090047024_1.jpg?1559187466', class:'lazyloaded', alt: '商品名', width: '213', hright: '330'
            .item-box__body
              %h3.item-box__name マジェスティックレゴン チェックパール付ハイネックブラウス
              .item-box__info
                %h5.item-box__price ¥ 3,100
                %h8.likes-icon= fa_icon 'heart'
                %h8.likes-count 28
                %h5.item-box__tax (税込)
          %section.item-box
            = link_to '/' do
              %figure.item-box__photo
                = image_tag 'https://static.mercdn.net/thumb/photos/m92090047024_1.jpg?1559187466', class:'lazyloaded', alt: '商品名', width: '213', hright: '330'
            .item-box__body
              %h3.item-box__name マジェスティックレゴン チェックパール付ハイネックブラウス
              .item-box__info
                %h5.item-box__price ¥ 3,100
                %h8.likes-icon= fa_icon 'heart'
                %h8.likes-count 28
                %h5.item-box__tax (税込)
          %section.item-box
            = link_to '/' do
              %figure.item-box__photo
                = image_tag 'https://static.mercdn.net/thumb/photos/m92090047024_1.jpg?1559187466', class:'lazyloaded', alt: '商品名', width: '213', hright: '330'
            .item-box__body
              %h3.item-box__name マジェスティックレゴン チェックパール付ハイネックブラウス
              .item-box__info
                %h5.item-box__price ¥ 3,100
                %h8.likes-icon= fa_icon 'heart'
                %h8.likes-count 28
                %h5.item-box__tax (税込)
          %section.item-box
            = link_to '/' do
              %figure.item-box__photo
                = image_tag 'https://static.mercdn.net/thumb/photos/m92090047024_1.jpg?1559187466', class:'lazyloaded', alt: '商品名', width: '213', hright: '330'
            .item-box__body
              %h3.item-box__name マジェスティックレゴン チェックパール付ハイネックブラウス
              .item-box__info
                %h5.item-box__price ¥ 3,100
                %h8.likes-icon= fa_icon 'heart'
                %h8.likes-count 28
                %h5.item-box__tax (税込)
        .view-all
          %span.view-all-index すべての商品を見る



      .item-box-container
        %h3.text-center
          = link_to '/', class: 'text-center__item' do
            ルイ ヴィトン 新着アイテム
        .item-box-content
          %section.item-box
            = link_to '/' do
              %figure.item-box__photo
                = image_tag 'https://static.mercdn.net/thumb/photos/m92090047024_1.jpg?1559187466', class:'lazyloaded', alt: '商品名', width: '213', hright: '330'
            .item-box__body
              %h3.item-box__name マジェスティックレゴン チェックパール付ハイネックブラウス
              .item-box__info
                %h5.item-box__price ¥ 3,100
                %h8.likes-icon= fa_icon 'heart'
                %h8.likes-count 28
                %h5.item-box__tax (税込)
          %section.item-box
            = link_to '/' do
              %figure.item-box__photo
                = image_tag 'https://static.mercdn.net/thumb/photos/m92090047024_1.jpg?1559187466', class:'lazyloaded', alt: '商品名', width: '213', hright: '330'
            .item-box__body
              %h3.item-box__name マジェスティックレゴン チェックパール付ハイネックブラウス
              .item-box__info
                %h5.item-box__price ¥ 3,100
                %h8.likes-icon= fa_icon 'heart'
                %h8.likes-count 28
                %h5.item-box__tax (税込)
          %section.item-box
            = link_to '/' do
              %figure.item-box__photo
                = image_tag 'https://static.mercdn.net/thumb/photos/m92090047024_1.jpg?1559187466', class:'lazyloaded', alt: '商品名', width: '213', hright: '330'
            .item-box__body
              %h3.item-box__name マジェスティックレゴン チェックパール付ハイネックブラウス
              .item-box__info
                %h5.item-box__price ¥ 3,100
                %h8.likes-icon= fa_icon 'heart'
                %h8.likes-count 28
                %h5.item-box__tax (税込)
          %section.item-box
            = link_to '/' do
              %figure.item-box__photo
                = image_tag 'https://static.mercdn.net/thumb/photos/m92090047024_1.jpg?1559187466', class:'lazyloaded', alt: '商品名', width: '213', hright: '330'
            .item-box__body
              %h3.item-box__name マジェスティックレゴン チェックパール付ハイネックブラウス
              .item-box__info
                %h5.item-box__price ¥ 3,100
                %h8.likes-icon= fa_icon 'heart'
                %h8.likes-count 28
                %h5.item-box__tax (税込)
        .view-all
          %span.view-all-index すべての商品を見る


      .item-box-container
        %h3.text-center
          = link_to '/', class: 'text-center__item' do
            シュプリーム 新着アイテム
        .item-box-content
          %section.item-box
            = link_to '/' do
              %figure.item-box__photo
                = image_tag 'https://static.mercdn.net/thumb/photos/m92090047024_1.jpg?1559187466', class:'lazyloaded', alt: '商品名', width: '213', hright: '330'
            .item-box__body
              %h3.item-box__name マジェスティックレゴン チェックパール付ハイネックブラウス
              .item-box__info
                %h5.item-box__price ¥ 3,100
                %h8.likes-icon= fa_icon 'heart'
                %h8.likes-count 28
                %h5.item-box__tax (税込)
          %section.item-box
            = link_to '/' do
              %figure.item-box__photo
                = image_tag 'https://static.mercdn.net/thumb/photos/m92090047024_1.jpg?1559187466', class:'lazyloaded', alt: '商品名', width: '213', hright: '330'
            .item-box__body
              %h3.item-box__name マジェスティックレゴン チェックパール付ハイネックブラウス
              .item-box__info
                %h5.item-box__price ¥ 3,100
                %h8.likes-icon= fa_icon 'heart'
                %h8.likes-count 28
                %h5.item-box__tax (税込)
          %section.item-box
            = link_to '/' do
              %figure.item-box__photo
                = image_tag 'https://static.mercdn.net/thumb/photos/m92090047024_1.jpg?1559187466', class:'lazyloaded', alt: '商品名', width: '213', hright: '330'
            .item-box__body
              %h3.item-box__name マジェスティックレゴン チェックパール付ハイネックブラウス
              .item-box__info
                %h5.item-box__price ¥ 3,100
                %h8.likes-icon= fa_icon 'heart'
                %h8.likes-count 28
                %h5.item-box__tax (税込)
          %section.item-box
            = link_to '/' do
              %figure.item-box__photo
                = image_tag 'https://static.mercdn.net/thumb/photos/m92090047024_1.jpg?1559187466', class:'lazyloaded', alt: '商品名', width: '213', hright: '330'
            .item-box__body
              %h3.item-box__name マジェスティックレゴン チェックパール付ハイネックブラウス
              .item-box__info
                %h5.item-box__price ¥ 3,100
                %h8.likes-icon= fa_icon 'heart'
                %h8.likes-count 28
                %h5.item-box__tax (税込)
        .view-all
          %span.view-all-index すべての商品を見る

      .item-box-container
        %h3.text-center
          = link_to '/', class: 'text-center__item' do
            ナイキ 新着アイテム
        .item-box-content
          %section.item-box
            = link_to '/' do
              %figure.item-box__photo
                = image_tag 'https://static.mercdn.net/thumb/photos/m92090047024_1.jpg?1559187466', class:'lazyloaded', alt: '商品名', width: '213', hright: '330'
            .item-box__body
              %h3.item-box__name マジェスティックレゴン チェックパール付ハイネックブラウス
              .item-box__info
                %h5.item-box__price ¥ 3,100
                %h8.likes-icon= fa_icon 'heart'
                %h8.likes-count 28
                %h5.item-box__tax (税込)
          %section.item-box
            = link_to '/' do
              %figure.item-box__photo
                = image_tag 'https://static.mercdn.net/thumb/photos/m92090047024_1.jpg?1559187466', class:'lazyloaded', alt: '商品名', width: '213', hright: '330'
            .item-box__body
              %h3.item-box__name マジェスティックレゴン チェックパール付ハイネックブラウス
              .item-box__info
                %h5.item-box__price ¥ 3,100
                %h8.likes-icon= fa_icon 'heart'
                %h8.likes-count 28
                %h5.item-box__tax (税込)
          %section.item-box
            = link_to '/' do
              %figure.item-box__photo
                = image_tag 'https://static.mercdn.net/thumb/photos/m92090047024_1.jpg?1559187466', class:'lazyloaded', alt: '商品名', width: '213', hright: '330'
            .item-box__body
              %h3.item-box__name マジェスティックレゴン チェックパール付ハイネックブラウス
              .item-box__info
                %h5.item-box__price ¥ 3,100
                %h8.likes-icon= fa_icon 'heart'
                %h8.likes-count 28
                %h5.item-box__tax (税込)
          %section.item-box
            = link_to '/' do
              %figure.item-box__photo
                = image_tag 'https://static.mercdn.net/thumb/photos/m92090047024_1.jpg?1559187466', class:'lazyloaded', alt: '商品名', width: '213', hright: '330'
            .item-box__body
              %h3.item-box__name マジェスティックレゴン チェックパール付ハイネックブラウス
              .item-box__info
                %h5.item-box__price ¥ 3,100
                %h8.likes-icon= fa_icon 'heart'
                %h8.likes-count 28
                %h5.item-box__tax (税込)
        .view-all
          %span.view-all-index すべての商品を見る
