%section.item-box
  = link_to product_path(product) do
    %figure.item-box__photo
      = image_tag product.images.first, class:'lazyloaded', alt: '商品名', width: '213', height: '330'
      - if product.buyer_id > 0
        .product--soldout-badge
          .product--soldout
  .item-box__body
    %h3.item-box__name
      = product.name
    .item-box__info
      %h5.item-box__price 
        ¥
        = converting_to_jpy(product.price)
      %h8.likes-icon= fa_icon 'heart'
      %h8.likes-count 
        -# = product.likes.count
      %h5.item-box__tax (税込)

